<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <p class="lead mt-4">Upload Success!</p>
        <p class="lead mt-4">Upload more files? <a href="/upload">Back</a></p>
        <p class="lead mt-4">Done with upload? <a href="/logout">Leave</a></p>
      </div>
    </div>
  </div>